

@media all and (min-width: 1920px){
    .about-container {
        margin: 12rem 0em 0em 12em;
    }
    .barber-img {
        width: 400px;
    }
    .services-container {
        margin: 1rem 15rem 9rem 15rem;
    }
    .closing-header-image {
        height: 100%;
    }
   
    .learn-more-container {
        margin-left: 10em;
    }
    .contact-info {
        text-align: center;
        
    }
}
@media screen and (max-width: 1080px){
  
        .header-image {
            height: 90%;
        }
        .about-container{
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
        .barber-cards {
            flex-direction: column;
        }
        .barber-img {
            width: 400px;
        }
        .services-container{
            padding: 7rem;
        }
     
 
}

@media screen and (max-width: 860px){
    #walnut-street, #barber-shop, #since-label {
        margin: 0rem;
        line-height: 5rem;
    }
    
    @media (max-width: 900px) {
        
        body, html{
          overflow-x: hidden;
        }
        .nav{
            
            position: fixed;
            right: 0px;
            height: 60vh;
            top: 4vh;
            
            background-color: #594D4D;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
        }
        .nav li{
            opacity: 1;
            top: 0;
        }
        .burger{
            display: block;
        }
    
    }
    
    .nav-active{
        transform: translateX(0%);
        min-height: 0;
    }
    
    @keyframes navFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .opening-header {
        margin: 0;
        padding: 0;
    }
    .headerImg2{
        background-attachment: scroll;
        background-position: center;
        height: 100%;
        width: 100%;
    
    }
    
    .opening-hours {
        justify-content: center;
        padding: 1rem;
      margin: 2rem 1rem;
    
    }
   
    
    .barber-cards{
        flex-direction: column;
    }
    .haircut-img {
        width: 100%;
        height: 100%;

      
    }
   #learn-more-h1 {
       font-size: 25px;
       line-height: 2rem;
   }
   .learn-more-container{
       margin: 0;
   }
    .learn-more-button {
      margin: 2rem auto;
      
      
    }
    .services-container {
        display: flex;
     justify-content: center;
     align-content: center;
        margin: 2rem 1rem 2rem 1rem;
       
        font-size: 25px;
        text-align: center;
        
    }
    .barber-img {
        width: 50%;
        height: 250px;
    }
 
    .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 80%;
        top: 50px;
    
    }
    .contact-info {
        font-size: 20px;
    }
    .closing-header-image {
        width: 100%;
        height: 90%;
    }
   
   
   
    .sm-link {
        font-size: 4rem;
    }
    #find-us {
        font-size: 1.5rem;
    }
    .about-paragraph {
        margin: 1rem;
    }
    footer {
        flex-direction: column;
        margin: 2.5rem;
    }
     
    
    }
 